{{#if (gt pagination.totalPages 1)}}
<div class="pagination">
  {{#if (gt pagination.currentPage 1)}}
    <a href="/plugins?page={{subtract pagination.currentPage 1}}{{#if searchQuery}}&query={{searchQuery}}{{/if}}{{#if filters.category}}&category={{filters.category}}{{/if}}{{#if filters.language}}&language={{filters.language}}{{/if}}" class="page-btn">Prev</a>
  {{else}}
    <span class="page-btn disabled">Prev</span>
  {{/if}}

  {{#if (gt pagination.currentPage 3)}}
    <a href="/plugins?page=1{{#if searchQuery}}&query={{searchQuery}}{{/if}}{{#if filters.category}}&category={{filters.category}}{{/if}}{{#if filters.language}}&language={{filters.language}}{{/if}}" class="page-btn">1</a>
    {{#if (gt pagination.currentPage 4)}}
      <span class="page-btn disabled">...</span>
    {{/if}}
  {{/if}}

  {{#each (range (subtract pagination.currentPage 2) (add pagination.currentPage 2) pagination.totalPages)}}
    {{#if (eq this ../pagination.currentPage)}}
      <span class="page-btn active">{{this}}</span>
    {{else}}
      <a href="/plugins?page={{this}}{{#if ../searchQuery}}&query={{../searchQuery}}{{/if}}{{#if ../filters.category}}&category={{../filters.category}}{{/if}}{{#if ../filters.language}}&language={{../filters.language}}{{/if}}" class="page-btn">{{this}}</a>
    {{/if}}
  {{/each}}

  {{#if (lt pagination.currentPage (subtract pagination.totalPages 2))}}
    {{#if (lt pagination.currentPage (subtract pagination.totalPages 3))}}
      <span class="page-btn disabled">...</span>
    {{/if}}
    <a href="/plugins?page={{pagination.totalPages}}{{#if searchQuery}}&query={{searchQuery}}{{/if}}{{#if filters.category}}&category={{filters.category}}{{/if}}{{#if filters.language}}&language={{filters.language}}{{/if}}" class="page-btn">{{pagination.totalPages}}</a>
  {{/if}}

  {{#if (lt pagination.currentPage pagination.totalPages)}}
    <a href="/plugins?page={{add pagination.currentPage 1}}{{#if searchQuery}}&query={{searchQuery}}{{/if}}{{#if filters.category}}&category={{filters.category}}{{/if}}{{#if filters.language}}&language={{filters.language}}{{/if}}" class="page-btn">Next</a>
  {{else}}
    <span class="page-btn disabled">Next</span>
  {{/if}}
</div>

<div class="pagination-summary">
  Page {{pagination.currentPage}} of {{pagination.totalPages}} ({{pagination.total}} total)
</div>
{{/if}}
