<a href="/plugins/{{org}}/{{name}}" class="plugin-card">
  <div class="plugin-header">
    <div>
      <div class="plugin-name">{{displayName}}</div>
      <div class="plugin-id">{{pluginDisplayId id}}</div>
    </div>
    <span class="plugin-version">v{{version}}</span>
  </div>

  <p class="plugin-description">{{description}}</p>

  <div class="plugin-tags">
    <span class="tag category">{{category}}</span>
    <span class="tag language">{{language}}</span>
    {{#each tags}}
      <span class="tag">{{this}}</span>
    {{/each}}
  </div>

  <div class="plugin-meta">
    <span>{{eventCount}} events</span>
    {{#if author}}<span>{{formatAuthor author}}</span>{{/if}}
  </div>
</a>
