<a href="/plugins/{{org}}/{{name}}" class="plugin-card">
  <div class="plugin-tags card-top-tags">
    <span class="tag category">{{category}}</span>
    <span class="tag language">{{language}}</span>
    <span class="tag">v{{version}}</span>
  </div>

  <div class="plugin-name">{{displayName}}</div>
  <div class="plugin-id">{{pluginDisplayId id}}</div>

  <p class="plugin-description">{{description}}</p>

  {{#if tags}}
    <div class="plugin-tags">
      {{#each tags}}
        <span class="tag">{{this}}</span>
      {{/each}}
    </div>
  {{/if}}
</a>
